@font-face {
   font-family: 'Tokyo-Outline';
   src: url('Tokyo-Outline/font.ttf');
}
@font-face {
   font-family: 'Briberra';
   src: url('Briberra/font.ttf');
}
@font-face {
   font-family: 'Tokyo-Regular';
   src: url('Tokyo-Regular/font.ttf');
}
